/*--------------------------index.html----------------------------*/
 html,body{
    margin: 0px;
    height: 100%;
} 
body{
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
    font-family: Consolas;
}
 
.home{
	min-height: 662px;
	border-left: 1px solid ;
	border-right: 1px solid ;
}
 
.logo_home{
	padding: 20px;
	border: 1px solid black;
	text-align: center;
	margin-bottom: 0px;
	align-self: center;
	margin-top: 150px;
	margin-bottom: 60px;
}
 
.loginbutton_div{
	display: flex;
	justify-content: center;
}
.loginbutton{
	background-color: #e7e7e7;
    border: 1px solid black;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-family: Tahoma;
    font-size: 16px;
    margin: auto 30%;
    margin-top: 12%;
}





/*-------------------- sidebar section ----------------------- */
.sidebar1 {
    padding: 0px;
    min-height: 762px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-top: 1px solid;
   border-right: 1px solid;
   align-items: content;
}


.main-content{
    padding-left: 0px;
    padding-right: 0px;
}


.logo {
    align-self: center;
    margin-top: 20%;
    min-height: 20px; 
    padding: 3px;
    width: 60%;
    border: 1px solid;
    text-align: center;
    background: lightgrey;
}
.logo>img {
   
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 3px;
    border: 1px solid;
    
}
.list {
       display: flex;
      flex-direction: column; 
       list-style: none;
      
       padding-left: 0px;
       margin-right: 0%;
}

.list::first-line {
    color: orange;
}
.list> li, h5 {
    margin-top: 10px;
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color: #D8D8D8;
    font-weight: bolder;
    padding-left: 40px;


}.main-content{
text-align:center;
}

.search_div{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: none;
    border-left: none;
    min-height: 40px;
    border-bottom: 1px solid;
}
.navbar_search{
    width: 25%;
    padding: 6px 4px;
    margin: 5px;
    border: 1px solid black;
    
}



/*--------------------- Content of Dashboard ------------------------- */
  .content_field{
    padding-left: 4%;
 }
 
 .content_field>div{
     border: 1px solid;
  	 width: 350px;
  	 height: 200px;
     padding: 20px;
  	 margin: 25px;
  	 margin-left: 50px;
 }
 
 .customers_child, .agents_child, .subscriptions_child, .tax_returns_child{
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
 }
 
 
  


/*------------------ Customers One-------------------- */
th{
    text-align: center;
}

.view{
   border: 2px solid grey;
    border-spacing: 1px;
    margin-bottom: 5px;
    font-size: 14px;
    background: lightgrey;
}





/*---------------- Customers Two----------------------*/
.hr_up, .hr_down{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}



/*-----------------Customers Expense------------------*/
.expense_right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.expense_img{
    border: 1px solid black;
    width: 230px;
    height: 300px;
    text-align: center;

}
.viewimage_button{
    margin-top: 20px;
    border: 1px solid;
    background: white!important;
    padding: 4px ;
}

/*-----------------Customers Expense 2nd------------------*/

.expense_mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.expense_big_img{
    border: 1px solid black;
    width: 420px;
    height: 500px;
    text-align: center;

}
.close_button{
    margin-bottom: 20px;
    border: 1px solid;
    background: white!important;
    padding: 2px 20px ;
}






/*---------------Users Page----------------------*/

.users_heading_right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}
.addusers_btn{
    margin-top: 70px;
    margin-right: 40px;
    padding: 2px 7px;
    border: 1px solid black;

}
.users_filter{
    margin-right: 50px;
    margin-top: 10px;
    font-weight: bold;
}

/*------------------- Settings ---------------------- */










/*----------------- Customer Report ------------------ */
.navbar_username_div{
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: none;
    border-left: none;
    min-height: 40px;
    border-bottom: 1px solid;
}
.navbar_username{
    width: 25%;
    padding: 6px 4px;
    margin: 5px;
    border: 1px solid black;
    
}

.search_dates{
border: 1px solid;
padding: 10px 30px;
text-align: left;
}

.es_btn{
     margin-top: 30px;
     margin-right: 40px;
     padding: 4px 9px;
     border: 1px solid black;
}